<nav class="py-4  top-0 z-10 shadow-md pl-8">
	<ul class="flex space-x-8">
		<li>
			<a href="#details" class="text-lg text-primary hover:underline active">Détail</a>
		</li>
		<li>
			<a href="#modalite" class="text-lg text-primary hover:underline">Modalités d'accès</a>
		</li>
		<li>
			<a href="#localite" class="text-lg text-primary hover:underline">Localité</a>
		</li>
		<li>
			<a href="#objectif" class="text-lg text-primary hover:underline">Objectif</a>
		</li>
		<li>
			<a href="#programme" class="text-lg text-primary hover:underline">Programme</a>
		</li>
		<li>
			<a href="#prix" class="text-lg text-primary hover:underline">Prix</a>
		</li>
		<li>
			<a href="#accessibilite" class="text-lg text-primary hover:underline">Accessibilité</a>
		</li>

		{% if app.user and inscription and inscription.isValidated %}
			<li>
				<a href="#modules" class="text-lg text-indigo-600 hover:underline">Modules</a>
			</li>
			<li>
				<a href="#quiz" class="text-lg text-indigo-600 hover:underline">Quiz</a>
			</li>
		{% endif %}
	</ul>
</nav>
