{% extends 'base.html.twig' %}

{% block title %}
	{{ formation.title }}
{% endblock %}

{% block body %}
	<div
		class="relative">
		<!-- Bandeau -->
		{% include "formation/_bandeau.html.twig" %}

		<!-- Container for main content and sticky card -->
		<div class="mx-auto px-4 mt-8">
			<div
				class="max-w-7xl flex gap-8 relative">
				<!-- Main Content -->
				<div
					class="flex-1">
					<!-- Menu de navigation -->
					{% include "formation/_navigation.html.twig" %}

					<div class="mx-auto px-4 mt-10">
						{% include "formation/_general_information.html.twig" %}
					</div>


					<!-- Contenu avec plus de contenu pour permettre le défilement -->
					<div class="py-8">
						{% include "formation/_contenu_navigation.html.twig" %}
					</div>

					{# --- Affichage conditionnel des modules et quiz --- #}
					{% include "formation/_contenu_pedagogique.html.twig" %}
				</div>

				<!-- Card Sticky à droite -->
				{% include "formation/_card_sticky.html.twig" %}
			</div>
		</div>
	</div>
</div>{% endblock %}
