<section class="hero-section mt-3 w-full bg-primary text-light py-16">
	<div
		class="w-full mx-auto px-4 flex flex-col lg:flex-row items-center gap-12">
		<!-- Illustration -->
		<div class="w-full lg:w-1/2 flex justify-center lg:justify-center">
			<img src="{{ asset('img/Cameleon_L_Blanc-BGT.png') }}" alt="Caméléon Solutions Learning" class="w-[200px] md:w-[220px] drop-shadow-lg lg:translate-x-4">
		</div>

		<!-- Texte -->
		<div class="w-full lg:w-1/2 text-center lg:text-left">
			<h1 class="text-3xl md:text-5xl font-title font-bold text-light mb-6 leading-snug">
				Construisez votre avenir avec<br>
				<strong class="text-hover">Caméléon Solutions Learning</strong>
			</h1>

			<div class="flex flex-col sm:flex-row justify-center lg:justify-start gap-4 mb-6">
				<a href="{{ path('app_formations') }}" class="btn-glossy bg-hover hover:bg-secondary text-white px-6 py-3 rounded-xl shadow transition">
					Découvrir les formations
				</a>
				<a href="mailto:contact@cameleon-solutions.fr" class="btn-glossy bg-hover hover:bg-secondary text-white px-6 py-3 rounded-xl shadow transition">
					Me contacter
				</a>
			</div>

			<p class="text-sm mt-4 text-light/80">
				🎓 Plateforme de formation par
				<a href="https://www.cameleon-solutions.fr" class="underline hover:text-white" target="_blank">
					Caméléon Solution
				</a>
			</p>

			<div class=" mt-10 animate-bounce">
				<a href="#choix-type" class="inline-block text-light hover:text-[#064b57] transition text-lg md:text-xl font-title">
					<a href="#choix-type" class="text-light text-sm hover:text-[#064b57] animate-bounce">
						↓ Faites défiler pour choisir votre formation
					</a>
				</a>
			</div>

		</div>
	</div>
</section>
