{% extends 'base.html.twig' %}

{% block title %}Accueil - Cameleon Solutions Learning
{% endblock %}

{% block body %}
	{% include "home/_hero.html.twig" %}


	<section class="py-1 px-4">
		{% include "home/_choice_type.html.twig" %}
	</section>


{% endblock %}
