@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Special+Elite&display=swap");

body {
  font-family: "Roboto Slab", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Special Elite", cursive;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Animation de fond bandeau homepage */
.bg-animated {
  background: linear-gradient(135deg, #032b35, #1b4f5f, #064663);
  background-size: 200% 200%;
  animation: backgroundAnimation 10s ease infinite;
}

/* Page formations */
.sticky-ahref {
  outline: 2px solid #032b35; /* Contour avec une couleur personnalisée */
  outline-offset: 4px; /* Déplace l'outline de 4px autour de l'élément */
  padding: 10px; /* Ajoute de l'espace à l'intérieur du paragraphe */
}

a.active {
  border-bottom: 2px solid #032b35;
  padding-bottom: 5px; /* Ajoute de l'espace en bas du lien */
}

.text-editor-content ul {
  list-style-type: disc; /* Afficher les puces rondes */
  padding-left: 1.5rem; /* Décaler les puces */
}

.text-editor-content ol {
  list-style-type: decimal; /* Afficher les numéros */
  padding-left: 1.5rem;
}

.text-editor-content li {
  margin-bottom: 0.5rem; /* Ajouter un espacement entre les éléments de liste */
}

/* Animation boutons */
.btn-glossy {
  position: relative;
  overflow: hidden;
}

.btn-glossy::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 400%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: left 0.4s ease;
}

.btn-glossy:hover::before {
  left: 100%;
}

.answers {
  display: flex;
  flex-direction: column; /* Aligner les éléments verticalement */
  gap: 1rem; /* Espacement entre les options */
}

.answer-option {
  display: flex;
  align-items: center; /* Aligner la case à cocher avec le texte */
  gap: 10px; /* Espacement entre la case et le texte */
}

.answer-input {
  width: 20px; /* Taille de la case à cocher */
  height: 20px;
  cursor: pointer; /* Coursuer pointer sur la case */
}

.answer-label {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer; /* Coursuer pointer sur le texte */
}

.answer-label:hover {
  background-color: #f0f4f8; /* Changer de couleur de fond au survol */
  border-color: #1c64f2; /* Changer la couleur de bordure au survol */
}
